
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#encabezado{
    color: aqua;
    background-color: black;
    /*WIdth y height modifican el tamaño de un elemento en bloque HTML*/
    height: 100px;
    /*rELLENO: Es el espaciado entre el contenido del elemento y su borde
    Para definir sus propiedades se alica un sentindo horario (top, right, bottom, left).
    padding: 10px 10px 10px 10px*/
    padding: 10px  ;
    /*MArgen: Es el espacio entre el border de un elemento y los demas elementos HTML
    Se aplican las mimas medidades de padding Margen:10px 10px 10px 10px
    
    El borde es el limite de un elemento HTML, valores para border-style (solid, dotted, dashed, groove. ridge, insert
    outser, hidden y none )
    */
    border: 10px groove gold;
    border-top-color: silver;
    border-right-color:purple ;
    border-left-color: orange ;
    border-radius: 20%;
    /*box-shadow Se puede utilizar para crear efectos de sombre alrededor del borde del elemento HTML
    Se debe de especificar en este orden; desplazamiento-horizontal, desplazamiento-vertical, radio de desenfoque y radoo de propogacion de color*/
    box-shadow: 10px 1px 20px 20px green;
    /*box-sizing:border-box se utiliza pra que rellenos, margenes y bordes se ajusten a la medida incial del elemento HTML y no agregue espacio extra a la declaracion inicial*/
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 10px;
}

#encabezado h1{
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
}


.introduccion{
    color: gold;
    background-color: black;

    border: 10px groove silver;
    border-top-color: gold;
    border-right-color:orange ;
    border-left-color: purple ;
    border-radius: 10%;

    box-shadow: 10px 1px 20px 20px green;

    box-sizing: border-box ;


}

.introduccion span{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid   gold;
    padding-top: 20px;
    margin: 100px;
}

#contenido_principal{
    color: aliceblue;
    background-color: black;
    padding: 20px;
    min-height: auto;
    border: 20px solid   gold;
    font-size: 20px;
}



#contenido_principal h2{
    text-align: center;

}


#contenido_principal p{
    text-align: justify;

}

.propiedades-texto p{
    text-align: justify;
    line-height: 2.0;
    letter-spacing: 2px;
    font-size: 1em;
}





.propiedades-fuentes{
    color: rgb(9, 5, 216);
    background-color: rgb(194, 167, 92);
    padding: 10px;
    min-height: auto;
    border: 20px solid   gold;
    text-align: justify;

}

.propiedades-fuentes p{
text-transform: capitalize;
text-align: justify;
word-spacing: 10px;
}


.propiedades-fuentes h2{
    border: 10px;
    color: red;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    font-size: 4.3rem;
}

.propiedades-texto h2{
    color: red;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(255, 255, 255);

}
.texto-fuente{
    font-size: 2em;
    padding: 5px;
}

